* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bck {
    background: hsl(207, 26%, 17%);
    padding-top: 3em;
    height: 100%;
}

.bck-light {
    background: hsl(0, 0%, 98%);
    padding-top: 3em;
    height: 100%;
}

.country-container {
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2em;
    height: 100%;
}

.link {
    text-decoration: none;
}

.search-help {
    width: 85%;
    margin: 7px auto 30px auto;
    display: flex;
    align-items: center;
    gap: 12em;
}

.select-container {
    padding: 10px 10px;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background: hsl(209, 23%, 22%);
    outline: none;
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.select-light {
    padding: 10px 10px;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background: hsl(0, 0%, 100%);
    outline: none;
    color: hsl(200, 15%, 8%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.option {
    padding: 10px 0px
}

.hidden {
    height: 100%;
}

@media (max-width: 1024px) {
    .country-container {
        width: 95%;
    }

    .search-help {
        width: 95%;
    }
}

@media (max-width: 425px) {
    .search-help {
        flex-direction: column;
        gap: 3em;
        align-items: baseline;
        width: 85%;
    }

    .country-container {
        grid-template-columns: auto;
        width: 60%;
    }
}

@media (max-width: 375px) {
    .select-container,
    .select-light {
        width: 70%;
    }
}

@media (max-width: 320px) {
    .country-container {
        width: 70%;
    }
}